/* components/Footer/Footer.css */

.footer {
  margin: 0 auto;
  display: flex; /* Use flexbox for layout */
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  align-items: center;
  justify-content: space-between; /* Distribute space between items */
  border-top: 1px solid #797979;
  padding: 15px 10%;
  background: #242424;
  color: white;
  height: 40px; /* Ensure enough height for content */
  z-index: 1000;
}

.footer-content {
  display: flex; 
  align-items: center;  /* Vertically center items within the container */
  width: 100%;          /* Make content take full width of footer */
}

.footer-links {
  display: flex; /* Make links inline */
  list-style: none;
  margin: 0;
  padding: 0;
  gap: 10px; 
}

.footer a.link-bar {
  color: #fff;
}

.footer a {
  color: #66b3ff;
  text-decoration: none;
  transition: color 0.3s;
  font-size: 12px;
}

.footer a:hover {
  color: #99ccff;
}

/* Add flex: 1 to let the paragraph fill available space */
.footer p {
  flex-grow: 1;
  font-size: 12px;
  margin: 0;
  text-align: left; /* Align text to the left */
}


/* Media query for mobile view */
@media (max-width: 700px) {
  .footer {
    flex-wrap: nowrap; /* Prevent wrapping */
    justify-content: space-around; /* Distribute space around items */
    text-align: center; /* Center text within items */
    font-size: 10px; 
    padding: 10px 5%; 
    height: auto;  
  }
  
  .footer ul {
    display: inline-flex;  
    margin: 0; 
    padding: 0;
  }

  .footer ul li {
    margin: 0 2px;    
  }

  .footer p {
    flex-grow: 1;  
    flex-shrink: 1; /* Allow it to shrink if needed */
    margin: 0;      
  }

  .footer ul {
    flex-grow: 0; 
    flex-shrink: 1; /* Allow it to shrink if needed */
  }

  /* Optional: Adjust font size further if needed */
  .footer, .footer p, .footer a {
    font-size: 9px;
  }
}
